@font-face {
  font-family: "text_me_oneregular";
  src: url("./assets/textmeone-regular-webfont.woff2") format("woff2"),
    url("./assets/textmeone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  margin: 0;
  padding: 10px;
  font-family: "text_me_oneregular", Arial, Helvetica, sans-serif;
  background-image: url("assets/stars.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
}

h1 {
  width: 100%;
  height: 130px;
  margin: 20px auto;
  background: url(assets/ably.png) no-repeat top center, url(assets/arcade.png) no-repeat bottom center;
  background-size: auto 60px, auto 60px;
  color: transparent;
  grid-area: title;
}

#signup-form {
  max-width: 500px;
  margin: 0px auto;
  padding: 0px 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
.scoreboards {
  grid-area: score;
  display: grid;
  grid-template-rows: auto 1fr;
  place-content: center;
}

#game {
  display: block;
  width: calc(100vw - 20px);
  height: calc(100vw - 20px);
  object-fit: contain;
  margin: 0 auto;
}

#spectate {
  display: none;
}

.spectator-controls {
  display: none;
}

.player-messages {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 80px;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  z-index: 5;
  transform: translate(-50%, -50%);
}

table {
  width: 100%;
}

.scoreboard-container {
  display: none;
}

.scoreboard {
  display: none;
}

h2 {
  margin: 0.5em;
  text-align: center;
  color: #ffdddd;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ff5416,
    0 0 82px #ff5416, 0 0 92px #ff5416, 0 0 102px #ff5416, 0 0 151px #ff5416;
}

.timer {
  font-size: 20vw;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ff5416,
    0 0 82px #ff5416, 0 0 92px #ff5416, 0 0 102px #ff5416, 0 0 151px #ff5416;
}

.score-number {
  text-align: right;
}

@media (min-width: 1200px) {
  body {
    background-image: url("assets/bottomgrid.png"), url("assets/topgrid.png"),
      url("assets/stars.png");
    background-position: bottom, top, center;
    background-repeat: no-repeat;
    background-size: contain, contain, cover;
    color: white;
    overflow: hidden;
  }

  .spectator-controls {
      position: fixed;
      top: 25%;
      left: 50%;
      z-index: 6;
      transform: translate(-50%, -50%);
  }

  h1 {
    margin: 2vh auto 2vh;
    width: calc(100vh - 17vh);
    height: 8.6vh;
    background-position: center left, center right;
    background-size: contain, contain;
  }

  .layout {
    display: grid;
    grid-template-areas: "global game score";
    grid-template-columns: 1fr calc(100vh - 17vh) 1fr;
  }

  #arcade {
    display: none;
  }

  #global-scoreboard-container {
    grid-area: global;
    height: calc(100vh - 17vh);
    display: flex;
    justify-content: center;
  }

  #game-root {
    grid-area: game;
  }

  .canvas-holder {
    position: relative;
    z-index: 2;
  }

  #game {
    box-shadow: 0px 5px 20px 5px #000000;
    width: calc(100vh - 17vh);
    height: calc(100vh - 17vh);
  }

  .controls {
    display: none;
    position: absolute;
    right: 20px;
    left: auto;
    bottom: 20px;
    height: 300px;
    width: 300px;
    background: url(assets/arrows.png) center no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    transform: translate(0);
  }
  #up {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 120px;
  }
  #right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 120px;
    height: 80px;
  }
  #down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 120px;
  }
  #left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 120px;
    height: 80px;
  }
  #spectate {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 9vh;
    padding: 30px;
    font-weight: bold;
    font-size: 30px;
    text-align: right;
    color: transparent;
    background-color: transparent;
  }

  #spectate:hover {
    background-color: red;
    color: white;
    cursor: pointer;
  }

  .start {
    padding: 1rem 2rem;
    font-size: 3rem;
    font-family: "text_me_oneregular", Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 0.2rem #fff, 0 0 0.3rem #ff5416, 0 0 2rem #ff5416,
      0 0 0.8rem #ff5416, 0 0 2rem #ff5416;
    border: 4px solid white;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ff5416,
      0 0 0.8rem #ff5416, 0 0 2.8rem #ff5416, inset 0 0 0.2rem #fff,
      inset 0 0 0.2rem #fff, inset 0 0 2rem #ff5416, inset 0 0 0.8rem #ff5416,
      inset 0 0 2rem #ff5416;
  }

  .scoreboard-container {
    display: block;
  }

  .scoreboards {
    z-index: 4;
  }

  .scoreboard {
    display: block;
    min-width: 360px;
    max-width: 400px;
    margin: 1em;
    padding: 1em 1em 2em;
    border-radius: 10px;
    border: 4px solid white;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ff5416,
      0 0 0.8rem #ff5416, 0 0 2.8rem #ff5416, inset 0 0 1.3rem #ff5416;
    font-size: 1.3rem;
    background-color: black;
    color: #dcfdff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #4af7ff,
      0 0 82px #4af7ff, 0 0 92px #4af7ff, 0 0 102px #4af7ff, 0 0 151px #4af7ff;
  }
  .timer {
    font-size: clamp(100px, 50vw, 170px);
    line-height: clamp(100px, 50vw, 150px);
  }

  th {
    padding: 1em;
    text-align: left;
  }
  td {
    padding: 0.5em 1em;
  }
}
