body {
  height: 100vh;
  margin: 0;
  background-image: url("assets/stars.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
}

h1 {
  width: 100%;
  height: 80px;
  margin: 10px auto 20px;
  background: url(assets/logo.png) no-repeat center;
  background-size: contain;
  color: transparent;
}

#arcade {
  display: none;
}

#game {
  display: block;
  width: calc(100vw - 20px);
  height: calc(100vw - 20px);
  object-fit: contain;
  margin: 0 auto;
  max-height: 700px;
  max-width: 700px;
}

.controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  height: 200px;
  width: 200px;
  background: url(assets/arrows.png) center no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
}

.dpad {
  position: absolute;
  background-color: transparent;
  border: 0;
  color: transparent;

}

#up {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 80px;
}

#right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 50px;
}

#down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 80px;
}

#left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 50px;
}

#spectate {
  display: none;
}

.spectator-controls {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
}

@media (min-width: 1200px) {
  body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("assets/bottomgrid.png"), url("assets/topgrid.png"), url("assets/stars.png");
    background-position: bottom, top, center;
    background-repeat: no-repeat;
    background-size: contain, contain, cover;
    color: white;
    overflow: hidden;
  }

  h1 {
    width: 100%;
    height: 15vw;
    margin: 0;
    background: url(assets/logo.png) no-repeat center;
    background-size: contain;
    color: transparent;
  }

  .canvas-holder {
    position: relative;
    z-index: 2;
    align-self: center;
  }

  #game {
    box-shadow: 0px 5px 20px 5px #000000;
    width: 100vh;
    height: 100vh;
  }

  .canvas-holder:after {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    border-bottom: 100px solid rgba(0, 0, 0, 0.3);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 100%;
    z-index: 1;
  }

  .controls {
    position: absolute;
    right: 20px;
    left: auto;
    bottom: 20px;
    height: 300px;
    width: 300px;
    background: url(assets/arrows.png) center no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    transform: translate(0);
  }
  #up {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 120px;
  }
  #right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 120px;
    height: 80px;
  }
  #down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 120px;
  }
  #left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 120px;
    height: 80px;
  }
  #spectate {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: aqua;
  }
}
